/* Add your custom styles here */
.DocSearch-content {
    line-height: 1.8;
    ol {
        list-style: inside;
        list-style-type: decimal;
    }

    ul {
        list-style: inside;
        list-style-type: disc;
    }
}